[Technical Documents ] 09_RFP Demo Use Case.pdf
cdr.ipynb
cdr_data/
__pycache__/
.venv/
jobs/spark/spark-iceberg-project/project/project/
jobs/spark/spark-iceberg-project/project/target/
jobs/spark/spark-iceberg-project/target
.env
k8s-manifests/trino/trinoDB.zip
k8s-manifests/kafka/strimzi-kafka-operator/