[Technical Documents ] 09_RFP Demo Use Case.pdf
cdr.ipynb
cdr_data/
__pycache__/
.venv/
jobs/spark/spark-iceberg-project/project/project/
jobs/spark/spark-iceberg-project/project/target/
jobs/spark/spark-iceberg-project/target
.env
k8s-manifests/trino/trinoDB.zip
k8s-manifests/kafka/strimzi-kafka-operator/
jobs/spark/spark-kafka-streaming/project/project/
jobs/spark/spark-kafka-streaming/project/target/
jobs/spark/spark-kafka-streaming/target

k8s-manifests/nifi/apache-nifi-helm-main
k8s-manifests/superset/superset
dags/sparkapp/minio-creds.yaml
tshoot.txt
jobs/spark/omea-iceberg.conf