apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nifi-pvc
  namespace: omea
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi
  namespace: omea
  labels:
    app: nifi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nifi
  template:
    metadata:
      labels:
        app: nifi
    spec:
      containers:
        - name: nifi
          image: apache/nifi:2.7.1
          env:
            - name: NIFI_WEB_HTTPS_PORT
              value: "8443"
          ports:
            - containerPort: 8443
              name: https
          volumeMounts:
            - name: cdr-data
              mountPath: /opt/nifi/nifi-data/cdr_data
      volumes:
        - name: cdr-data
          persistentVolumeClaim:
            claimName: nifi-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: nifi
  namespace: omea
  labels:
    app: nifi
spec:
  type: LoadBalancer
  ports:
    - port: 8443
      targetPort: 8443
  selector:
    app: nifi
