apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cdr-data-pvc
  namespace: nifi
spec:
  accessModes: ["ReadWriteMany"]
  resources:
    requests:
      storage: 1Gi

---
apiVersion: v1
kind: Service
metadata:
  name: nifi-service
  namespace: nifi
spec:
  type: NodePort
  selector:
    app: nifi
  ports:
    - name: https
      port: 8443
      targetPort: 8443
      nodePort: 30443

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nifi-config
  namespace: nifi
data:
  NIFI_WEB_HTTPS_PORT: "8443"
  NIFI_WEB_PROXY_HOST: "192.168.49.2:30443"
  SINGLE_USER_CREDENTIALS_USERNAME: "admin"
  SINGLE_USER_CREDENTIALS_PASSWORD: "password12345678" # Must be at least 12 chars

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nifi
  namespace: nifi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nifi
  template:
    metadata:
      labels:
        app: nifi
    spec:
      serviceAccountName: nifi
      containers:
      - name: nifi
        image: apache/nifi:2.7.1
        imagePullPolicy: IfNotPresent
        ports:
        - name: https
          containerPort: 8443
          protocol: TCP
        env:
        - name: NIFI_WEB_HTTPS_PORT
          valueFrom:
            configMapKeyRef:
              name: nifi-config
              key: NIFI_WEB_HTTPS_PORT
        - name: NIFI_WEB_PROXY_HOST
          valueFrom:
            configMapKeyRef:
              name: nifi-config
              key: NIFI_WEB_PROXY_HOST
        - name: SINGLE_USER_CREDENTIALS_USERNAME
          valueFrom:
            configMapKeyRef:
              name: nifi-config
              key: SINGLE_USER_CREDENTIALS_USERNAME
        - name: SINGLE_USER_CREDENTIALS_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: nifi-config
              key: SINGLE_USER_CREDENTIALS_PASSWORD

        volumeMounts:
        - name: nifi-data
          mountPath: /opt/nifi/nifi-data
        - name: cdr-data
          mountPath: /opt/nifi/nifi-data/cdr_data
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
        livenessProbe:
          tcpSocket:
            port: 8443
          initialDelaySeconds: 60
          periodSeconds: 20
        readinessProbe:
          tcpSocket:
            port: 8443
          initialDelaySeconds: 30
          periodSeconds: 10
      volumes:
      - name: nifi-data
        emptyDir: {}
      - name: cdr-data
        persistentVolumeClaim:
          claimName: cdr-data-pvc

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: nifi
  namespace: nifi

